streamlit>=1.32.0
langchain>=0.1.12
langchain-openai>=0.1.0
python-dotenv>=1.0.1
requests>=2.31.0
pandas>=2.2.1
numpy>=2.1.0rc1
chromadb>=0.4.24
python-magic-bin>=0.4.14
langchain-google-genai>=0.1.0
reportlab>=4.0.9 